<div class="container-fluid top--banner" id="cima">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 social">
                <ul>
                    <li>
                        <a href="https://facebook.com/" target="_blank">
                            <fa-icon [icon]="faFacebook" class="social--network white-facebook"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/" target="_blank">
                            <fa-icon [icon]="faYoutube" class="social--network white-facebook"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/" target="_blank">
                            <fa-icon [icon]="faTwitter" class="social--network white-facebook"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/" target="_blank">
                            <fa-icon [icon]="faInstagram" class="social--network white-facebook"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>