//Redes sociales
.social--network {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 5px 6px;
}

//Facebook
.white--facebook {
    color: white;
}

.black--facebook {
    color: black
}

.color--facebook {
    color: white;
    background: #46639f;
}

//Youtube
.white--youtube {
    color: white;
}

.black--youtube {
    color: black
}

.color--youtube {
    color: white;
    background: #d6513e;
}

//Twitter
.white--twitter {
    color: white;
}

.black--twitter {
    color: black
}

.color--twitter {
    color: white;
    background: #0ab2e6;
}

//Instagram
.white--instagram {
    color: white;
}

.black--instagram {
    color: black
}

.color--instagram {
    color: white;
    background: linear-gradient(45deg, #fca925, #ee1d5f, #6350a2);
}

//Cima
#cima ul {
    padding-top: 8px;
}

#cima ul li {
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white; 
}

.social ul li a fa-icon {
    font-size: 18px;
    margin: 0 1px;
}

.register ul {
    text-align: right;
    font-size: 15px;
}

//Encabezado
header #btn_categorias {
    margin: 20px 0;
}

header #btn_categorias p {
    line-height: 40px;
    margin-bottom: 0px;
}

header #btn_categorias p span {
    cursor: pointer;
}

header #buscador {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -15px;
}

header #buscador input {
    padding-left: 19px;
    border-radius: 0;
}

header #buscador button {
    padding: 9px;
    border: 1px solid silver;
    border-radius: 0;
}

header #carrito {
    margin: 20px 0;
}

header #carrito button {
    padding: 9px 15px;
    border: 1px solid silver;
    border-radius: 0;
}

header #carrito p {
    padding: 2px;
    padding-left: 60px;
    border: 1px solid #aaa;
    font-size: 12px;
}

header #categorias {
    display: block;
    margin-top: -10px;
    position: relative;
    padding-bottom: 30px;
}

header #categorias h4 {
    margin-top: 20px;
    margin-bottom: -10px;
    font-weight: bold;
}

header #categorias hr {
    border: 1px solid rgba(255, 255, 150 , .3);
}

.pixel--categories {
    cursor: pointer;
}

.pixel-subcategories {
    cursor: pointer;
}

/* Escritorio grande */
@media (min-width: 1200px) {
    .col--lg--0 {
        display: none;
    }

    //Encabezado
    header #logo img {
        padding: 20px 60px;
        padding-left: 0px;
    }

    header #carrito {
        padding-left: 100px;
    }
}

/* Escritorio mediano o tablet horizontal */
@media (max-width: 1199px) and (min-width: 992px) {
    .col--md--0 {
        display: none;
    }

    //Encabezado
    header #logo img {
        padding: 25px 60px;
        padding-left: 0px;
    }

    header #carrito {
        padding-left: 70px;
    }
}

/* Escritorio pequeño o tablet vertical */
@media (max-width: 991px) and (min-width: 768px) {
    .col--sm--0 {
        display: none;
    }

    //Encabezado
    header #logo img {
        padding: 30px 0px;
    }

    header #carrito {
        padding-left: 55px;
    }

    header #carrito p {
        display: none;
    }

    header #carrito button {
        margin-top: 20px;
    }
}
/* Movil */
@media (max-width: 787px) {
    .col--xs--0 {
        display: none;
    }

    //Cima
    #cima ul {
        text-align: center;
    }

    #top #registro {
        border-top: 1px solid #222;
    }

    //Encabezado
    header #logo img {
        padding: 30px;
        padding-bottom: 10px;
    }

    header #categorias {
        margin-bottom: 10px;
    }

    header #buscador {
        margin-left: 0px;
    }

    header #carrito {
        margin: 0px;
    }
}