<!-- Banner -->
<figure class="banner">
    <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/banner%2Fdefault.jpg?alt=media&token=6202dc4a-b631-4f01-b2bc-ab300b8fdc0a" class="img-responsive" width="100%">
    <div class="banner--text right--text">
        <h1 style="color: #fff;">OFERTAS ESPECIALES</h1>
        <h2 style="color: #fff;"><strong>50% off</strong></h2>
        <h3 style="color: #fff;">Termina el 31 de octubre</h3>
    </div>
</figure>
<!-- Productos gratis -->
<div class="container-fluid well well-sm produts--bar">
    <div class="container">
        <div class="col-xs-12 organization--products">
            <div class="btn-group float-right">
                <button type="button" class="btn btn-default btn--grid" id="griglia_pulsante0">
                    <fa-icon [icon]="faTh"></fa-icon>
                    <span class="col-xs-0 float-right">GRID</span>
                </button>
                <button type="button" class="btn btn-default btn--list" id="lista_pulsante0">
                    <fa-icon [icon]="faList"></fa-icon>
                    <span class="col-xs-0 float-right">LIST</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Productos gratis -->