<!-- Banner -->
<figure class="banner mt-3">
    <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/banner%2Fdefault.jpg?alt=media&token=6202dc4a-b631-4f01-b2bc-ab300b8fdc0a"
        class="img-fluid" width="100%">
    <div class="banner--text right--text">
        <h1 style="color: #fff;">OFERTAS ESPECIALES</h1>
        <h2 style="color: #fff;"><strong>50% off</strong></h2>
        <h3 style="color: #fff;">Termina el 31 de octubre</h3>
    </div>
</figure>
<!-- Productos gratis -->
<div class="container-fluid products--bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 organization--products">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn--grid" id="griglia_pulsante0">
                                <fa-icon [icon]="faTh"></fa-icon>
                                <span class="col-xs-0 float-right">GRID</span>
                            </button>
                            <button type="button" class="btn btn-default btn--list" id="lista_pulsante0">
                                <fa-icon [icon]="faList"></fa-icon>
                                <span class="col-xs-0 float-right">LIST</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vitrina productos gratis -->
<div class="container-fluid products mt-3">
    <div class="container">
        <div class="row feature--title">
            <!-- Barra titulo -->
            <div class="col-sm-6 col-xs-12">
                <h1>
                    <small>ARTÍCULOS DESTACADOS</small>
                </h1>
            </div>
            <div class="col-sm-6 col-xs-12">
                <a routerLink="/articulos-gratis">
                    <button class="btn btn-info back--color float-right">
                        VER MÁS <fa-icon [icon]="faChevronRight"></fa-icon>
                    </button>
                </a>
            </div>
        </div>
        <hr>
        <!-- Vitrina productos en cuadricula -->
        <ul class="grid--0 row">
            <!-- Producto 1 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Faccesorio04.jpg?alt=media&token=4557c7cd-440e-4575-bf3c-3b61704a5861"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            COLLAR DE DIAMANTES <br>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small>GRATIS</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 2 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Faccesorio03.jpg?alt=media&token=d90b84e3-1066-4487-b17a-77e10b5a5e2d"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            BOLSO DEPORTIVO GRIS <br>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small>GRATIS</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 3 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Faccesorio02.jpg?alt=media&token=ee6f7879-49ba-47d9-8fdf-1c3d9cf7b742"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            BOLSO MILITAR <br>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small>GRATIS</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 4 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Faccesorio01.jpg?alt=media&token=1a243146-7200-4631-9000-34a284c9e2c0"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            PULSERA DE DIAMANTES <br>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small>GRATIS</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Productos más vendidos -->
<div class="container-fluid products--bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 organization--products">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn--grid" id="griglia_pulsante0">
                                <fa-icon [icon]="faTh"></fa-icon>
                                <span class="col-xs-0 float-right">GRID</span>
                            </button>
                            <button type="button" class="btn btn-default btn--list" id="lista_pulsante0">
                                <fa-icon [icon]="faList"></fa-icon>
                                <span class="col-xs-0 float-right">LIST</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vitrina productos más vendidos -->
<div class="container-fluid products mt-3">
    <div class="container">
        <div class="row feature--title">
            <!-- Barra titulo -->
            <div class="col-sm-6 col-xs-12">
                <h1>
                    <small>ARTÍCULOS MÁS VENDIDOS</small>
                </h1>
            </div>
            <div class="col-sm-6 col-xs-12">
                <a routerLink="/articulos-gratis">
                    <button class="btn btn-info back--color float-right">
                        VER MÁS <fa-icon [icon]="faChevronRight"></fa-icon>
                    </button>
                </a>
            </div>
        </div>
        <hr>
        <!-- Vitrina productos en cuadricula -->
        <ul class="grid--0 row">
            <!-- Producto 1 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Fropa03.jpg?alt=media&token=652b521f-de23-4dc1-90aa-bf4b793b1e85"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            FALDA DE FLORES <br>
                            <span class="badge badge-warning offer--badge">NUEVO</span>
                            <span class="badge badge-warning offer--badge">40% OFF</span>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small><strong class="offer">USD $29</strong> $11</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 2 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Fropa04.jpg?alt=media&token=62b0baee-f96d-4e79-b82d-5f2a5d32a5c3"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            VESTIDO JEAN <br>
                            <span class="badge badge-warning offer--badge">40% OFF</span>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small><strong class="offer">USD $29</strong> $11</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 3 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Fropa02.jpg?alt=media&token=3649674d-dc66-4922-8e8c-a82e440aa24f"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            VESTIDO CLÁSICO <br>
                            <span class="badge badge-warning offer--badge">40% OFF</span>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small><strong class="offer">USD $29</strong> $11</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 4 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Fropa06.jpg?alt=media&token=556010d0-045b-4038-af07-17d2de03899c"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            TOP DAMA <br>
                            <br>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small>USD $29</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

<!-- Productos más vistos -->
<div class="container-fluid products--bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 organization--products">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn--grid" id="griglia_pulsante0">
                                <fa-icon [icon]="faTh"></fa-icon>
                                <span class="col-xs-0 float-right">GRID</span>
                            </button>
                            <button type="button" class="btn btn-default btn--list" id="lista_pulsante0">
                                <fa-icon [icon]="faList"></fa-icon>
                                <span class="col-xs-0 float-right">LIST</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vitrina productos más vistos -->
<div class="container-fluid products mt-3">
    <div class="container">
        <div class="row feature--title">
            <!-- Barra titulo -->
            <div class="col-sm-6 col-xs-12">
                <h1>
                    <small>ARTÍCULOS MÁS VISTOS</small>
                </h1>
            </div>
            <div class="col-sm-6 col-xs-12">
                <a routerLink="/articulos-gratis">
                    <button class="btn btn-info back--color float-right">
                        VER MÁS <fa-icon [icon]="faChevronRight"></fa-icon>
                    </button>
                </a>
            </div>
        </div>
        <hr>
        <!-- Vitrina productos en cuadricula -->
        <ul class="grid--0 row">
            <!-- Producto 1 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Fcurso05.jpg?alt=media&token=07e4a5c3-309d-4e3e-8ffc-74a28aa98561"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            CURSO DE BOOTSTRAP <br>
                            <span class="badge badge-warning offer--badge">90% OFF</span>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small><strong class="offer">USD $100</strong> $10</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar al carrito">
                                <fa-icon [icon]="faShoppingCart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 2 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Fcurso04.jpg?alt=media&token=ac029e8f-a831-4fbf-920b-5f7ef4d3e5c5"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            CURSO DE CANVAS Y JAVASCRIPT <br>
                            <span class="badge badge-warning offer--badge">90% OFF</span>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small><strong class="offer">USD $100</strong> $10</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar al carrito">
                                <fa-icon [icon]="faShoppingCart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 3 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Fcurso02.jpg?alt=media&token=9eb20ff9-1d23-4370-beb3-337038ad8cdd"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            CURSO DE JAVASCRIPT DESDE 0 <br>
                            <span class="badge badge-warning offer--badge">90% OFF</span>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small><strong class="offer">USD $100</strong> $10</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar al carrito">
                                <fa-icon [icon]="faShoppingCart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Producto 4 -->
            <li class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <a routerLink="#" class="pixel--product">
                        <img src="https://firebasestorage.googleapis.com/v0/b/neko-library.appspot.com/o/products%2Fcurso03.jpg?alt=media&token=2c8e4ade-a521-4713-af73-240c64fa7309"
                            class="img-fluid">
                    </a>
                </figure>
                <h4>
                    <small>
                        <a href="" class="pixel--product">
                            CURSO DE JQUERY <br>
                            <span class="badge badge-warning offer--badge">90% OFF</span>
                        </a>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h2>
                            <small><strong class="offer">USD $100</strong> $10</small>
                        </h2>
                    </div>
                    <div class="col-md-6 col-xs-6 links">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar a favoritos">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </button>
                            <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                ngbTooltip="Agregar al carrito">
                                <fa-icon [icon]="faShoppingCart"></fa-icon>
                            </button>
                            <a routerLink="#" class="pixel--product">
                                <button type="button" class="btn btn-default btn-xs wishes" placement="top"
                                    ngbTooltip="Ver producto">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>