.carousel-control-prev-icon {
  background-color: #666;
  height: 90px;
  width: 30px;
}

.carousel-control-next-icon {
  background-color: #666;
  height: 90px;
  width: 30px;
}

#diapositiva {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

#diapositiva .slide--option--1 img {
  position: absolute;
  opacity: 1;
}

#diapositiva .slide--option--1 .slide--text {
  position: absolute;
}

#diapositiva .slide--option--2 img {
  position: absolute;
  opacity: 1;
  top: 5%;
  left: 15%;
  width: 30%;
  height: 100%;
}

#diapositiva .slide--option--2 .slide--text {
  position: absolute;
  text-align: right;
  width: 40%;
  top: 15%;
  right: 15%;
}

#diapositiva .slide--options h1 {
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  opacity: 1;
  top: -10%;
}

#diapositiva .slide--options h2 {
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  opacity: 1;
  top: -10%;
}

#diapositiva .slide--options h3 {
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  opacity: 1;
  top: -10%;
}

#diapositiva .slide--options button {
  border: 0px;
  margin-top: 10px;
  opacity: 1;
  top: -10%;
}

#diapositiva .slide--options button:hover {
  background: black;
  color: white;
  border: 0px;
}

#diapositiva .slide--options button fa-icon {
  margin-left: 10px;
  padding: 10px;
}

#boton_slide {
  width: 150px;
  border: 0px;
  font-size: 25px;
  padding: 2px;
}

/* Escritorio grande */
@media (min-width: 1200px) {

  .carousel-control-prev {
    left: -30px;
  }
  
  .carousel-control-next {
    right: -30px;
  }

  #diapositiva .slide--options h1 {
    font-size: 50px;
    margin-top: 5px;
  }

  #diapositiva .slide--options h2 {
    font-size: 35px;
  }

  #diapositiva .slide--options h3 {
    font-size: 30px;
  }

  #diapositiva .slide--options button {
    padding: 10px;
  }

}

/* Escritorio mediano o tablet horizontal */
@media (max-width: 1199px) and (min-width: 992px) {
  .carousel-control-prev {
    left: -50px;
  }

  .carousel-control-next {
    right: -50px;
  }

  #diapositiva .slide--options h1 {
    font-size: 25px;
    margin-top: 5px;
  }

  #diapositiva .slide--options h2 {
    font-size: 20px;
  }

  #diapositiva .slide--options h3 {
    font-size: 15px;
  }

  #diapositiva .slide--options button {
    padding: 10px;
  }

}

/* Escritorio pequeño o tablet vertical */
@media (max-width: 991px) and (min-width: 768px) {

  .carousel-control-prev {
    left: -30px;
  }

  .carousel-control-next {
    right: -30px;
  }

  #diapositiva .slide--options h1 {
    font-size: 25px;
    margin-top: 5px;
  }

  #diapositiva .slide--options h2 {
    font-size: 20px;
  }

  #diapositiva .slide--options h3 {
    font-size: 15px;
  }

  #diapositiva .slide--options button {
    padding: 5px;
  }
}

/* Movil */
@media (max-width: 767px) {

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }

  #diapositiva .slide--options h1 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: -20px;
  }

  #diapositiva .slide--options h2 {
    display: none;
  }

  #diapositiva .slide--options h3 {
    font-size: 10px;
    margin-bottom: -5px;
  }

  #diapositiva .slide--options button {
    padding: 5px;
    font-size: 10px;
  }

}
