<div style="position: relative; min-height: 25%;">
    <ng-container *ngIf="scaricando; else cargado">
        <app-loader [pantalla_completa]="false"></app-loader>
    </ng-container>
    <ng-template #cargado>
        <ng-container *ngIf="categoria_sottocategoria_trovata == true; else not_found">
            <app-banner></app-banner>
            <div class="container-fluid mt-3">
                <div class="container">
                        <div aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/">INICIO</a></li>
                                <li class="breadcrumb-item active text-uppercase" aria-current="page">{{percorso_attuale}}</li>
                            </ol>
                    </div>
                </div>
            </div>
            <app-featured-products [prodotto]="prodotto"></app-featured-products>
        </ng-container>
        <ng-template #not_found>
            <app-not-found></app-not-found>
        </ng-template>
    </ng-template>
</div>